@model cbsStudents.Models.Entities.VolunteerIndexVm

@{
    ViewData["Title"] = "Index";
}

<h1>Volunteers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Volunteer" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" value=@Model.SearchString />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var volunteer in Model.Volunteers) {
    if(volunteer.Status == cbsStudents.Models.Entities.VolunteerStatus.PENDING){
        <tr>
            <td>
                @Html.DisplayFor(x => volunteer.Name)
            </td>
            <td>
                @Html.DisplayFor(x => volunteer.LastName)
            </td>
            <td>
                @Html.DisplayFor(x => volunteer.Email)
            </td>
            <td>
                @Html.DisplayFor(x => volunteer.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(x => volunteer.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@volunteer.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@volunteer.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@volunteer.Id">Delete</a>
            </td>
        </tr> 
    } 
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var volunteer in Model.Volunteers) {
    if(volunteer.Status == cbsStudents.Models.Entities.VolunteerStatus.ACCEPTED){
        <tr>
            <td>
                @Html.DisplayFor(x => volunteer.Name)
            </td>
            <td>
                @Html.DisplayFor(x => volunteer.LastName)
            </td>
            <td>
                @Html.DisplayFor(x => volunteer.Email)
            </td>
            <td>
                @Html.DisplayFor(x => volunteer.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(x => volunteer.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@volunteer.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@volunteer.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@volunteer.Id">Delete</a>
            </td>
        </tr> 
    } 
}
